.main{
    width: 1250px;
    margin: 0 auto;
    outline: 2px solid red;
}
.first {
    width: 1200px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding: 20px 0px 0px 25px;

}
.first>div{
    background: #99bbdc;
    outline: 2px solid #2b571e;
}
.second{
    padding: 50px 0px 0px 25px;
    display: grid;
    grid-template-columns:600px 600px;

}
.second_left{
    display: grid;
    grid-template-rows:auto ;

}
.second_left>div{
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.second_right{
    display: grid;
    grid-template-rows: auto;
}
.second_right>div{
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.third{
    padding: 50px 0px 0px 25px;
    display: grid;
    grid-template-columns: 600px 600px;
}
.third_left{
    width: 600px;
    display: grid;
    grid-template-rows: auto;
}
.third_left_top>div{
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.third_left_bottom{
    display: grid;
    grid-template-columns: 300px 300px;
}
.third_left_bottom>div{
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.third_right{
    display: grid;
    grid-template-rows: auto;
}
.third_right>div{
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.fourth{
    padding:50px 0px 0px 25px;
    display: grid;
    grid-template-columns: 600px 600px;
}
.fourth_left{
    width: 600px;
    display: grid;
    grid-template-rows: auto;
}
.fourth_left_bottom{
    display: grid;
    grid-template-columns: 300px 300px;
}
.fourth_left_top>div {
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.fourth_left_bottom_right>div {
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.fourth_left_bottom_left{
    outline: 2px solid #2b571e;
    background: #99bbdc;
}
.fourth_right{
    display: grid;
    grid-template-rows: auto;

}
.fourth_right>div{
    outline: 2px solid #2b571e;
    background: #99bbdc;
}